#!/usr/bin/make -f

ifeq (,$(filter terse,$(DEB_BUILD_OPTIONS)))
export DH_VERBOSE=1
# used by iptables extensions/ makefile to be verbose:
export V=1
silent_rules_opt = --disable-silent-rules
else
silent_rules_opt = --enable-silent-rules
endif
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --disable-libipq \
			     --enable-devel \
			     $(silent_rules_opt)

execute_after_dh_auto_install:
	# leave room for paths links managed by update-alternatives
	rm debian/tmp/usr/sbin/iptables
	rm debian/tmp/usr/sbin/ip6tables
	rm debian/tmp/usr/sbin/arptables
	rm debian/tmp/usr/sbin/ebtables
	rm debian/tmp/usr/sbin/iptables-save
	rm debian/tmp/usr/sbin/iptables-restore
	rm debian/tmp/usr/sbin/ip6tables-save
	rm debian/tmp/usr/sbin/ip6tables-restore
	rm debian/tmp/usr/sbin/arptables-save
	rm debian/tmp/usr/sbin/arptables-restore
	rm debian/tmp/usr/sbin/ebtables-save
	rm debian/tmp/usr/sbin/ebtables-restore
